# OS 파일
.DS_Store
Thumbs.db

# 편집기 설정
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 임시 파일
*.log
*.tmp
*.temp

# 노드 모듈
node_modules/

# Local 폴더 제외
Local/
*.mp3
*.xlsx
*.xlsm
*edgex.xlsx
*edgex.mp3
EdgeX-PC*
EdgeX_PC*