---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="benefit-card">
  <div class="benefit-title">{title}</div>
  <slot />
</div>

<style>
  @import "../styles/card.css";
</style>
