---
interface Props {
  title?: string;
  className?: string;
}

const { title, className = "" } = Astro.props;
---

<div class={`card ${className}`}>
  {title && <div class="card-title">{title}</div>}
  <slot />
</div>

<style>
  @import "../styles/card.css";
</style>
