---
interface Props {
  leftTitle: string;
  rightTitle: string;
}

const { leftTitle, rightTitle } = Astro.props;
---

<div class="vs-container">
  <div class="vs-box left">
    <div class="vs-title">{leftTitle}</div>
    <slot name="left" />
  </div>
  
  <div class="vs-box right">
    <div class="vs-title">{rightTitle}</div>
    <slot name="right" />
  </div>
</div>

<style>
  @import "../styles/flow.css";
</style>
