---
interface Props {
  headers: string[];
  className?: string;
}

const { headers, className = "" } = Astro.props;
---

<table class={className}>
  <thead>
    <tr>
      {headers.map(header => <th>{header}</th>)}
    </tr>
  </thead>
  <tbody>
    <slot />
  </tbody>
</table>

<style>
  @import "../styles/table.css";
</style>
